Repository arthurgaribaldi-netizen/Contabilease: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run type-check

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss,sass}": ["prettier --write"],
  "src/**/*.{ts,tsx}": ["npm run type-check"]
}

fix: Update OptimizedContractList component
  src/components/contracts/OptimizedContractList.tsx
Due: eslint --fix, prettier --write, npm run type-check

feat: Final improvements to admin, landing, and UI components
  src/app/api/admin/copyright-violations/route.ts
  src/components/contracts/ContractModificationManager.tsx
  src/components/landing/DemoTour.tsx
  src/components/landing/InteractiveDemo.tsx
  src/components/landing/ROISimulator.tsx
  src/components/ui/slider.tsx
Due: eslint --fix, prettier --write, npm run type-check

feat: implementar migrations do Supabase e atualizar documentação
  AVALIACAO_SCRIPTS_SUPABASE_SEGURANCA_2025.md
  GUIA_IMPLEMENTACAO_SCRIPTS_MELHORADOS.md
  GUIA_ORDEM_INTEGRACOES_INICIANTES.md
  MIGRATION_CLEANUP_SUMMARY.md
  MIGRATION_GUIDE_DEVELOPERS.md
  README.md
  RELATORIO_EFICIENCIA_CONSOLIDADO_2025.md
  RELATORIO_SCRIPTS_SUPABASE_CONSOLIDADO.md
  RESUMO_MELHORIAS_MIGRACOES_SUPABASE_2025.md
  SCRIPTS_INTEGRATION_SUMMARY.md
  STATUS_ATUAL_INTEGRACOES.md
  SUPABASE_COMPLETE_GUIDE.md
  SUPABASE_SETUP_GUIDE.md
  TEMPLATE_MIGRACAO_SEGURA_SUPABASE.md
  supabase/migrations/000_base_migration.sql
  supabase/migrations/001_core_tables_consolidated.sql
  supabase/migrations/001_create_countries_table.sql
  supabase/migrations/002_profiles_contracts_and_rls.sql
  supabase/migrations/002_rls_policies_optimized.sql
  supabase/migrations/003_initial_data_and_validations.sql
  supabase/migrations/003_rls_and_policies.sql
  supabase/migrations/004_add_ifrs16_financial_fields.sql
  supabase/migrations/004_ifrs16_lease_contracts.sql
  supabase/migrations/004_security_improvements_safe.sql
  supabase/migrations/005_contract_modifications.sql
  supabase/migrations/005_security_tables_creation.sql
  supabase/migrations/006_final_validation.sql
  supabase/migrations/006_subscriptions_and_plans.sql
  supabase/migrations/007_performance_and_security_optimizations.sql
  supabase/migrations/007_user_mfa_table.sql
  supabase/migrations/README_MIGRATIONS.md
Due: prettier --write

refactor: melhorar código fonte e configurações
  middleware.ts
  next.config.js
  package.json
  src/app/[locale]/(protected)/dashboard/DashboardClient.tsx
  src/components/analytics/ConversionDashboard.tsx
  src/components/auth/AuthProvider.tsx
  src/components/dashboard/IFRS16Dashboard.tsx
  src/components/metrics/BusinessMetricsDashboard.tsx
  src/components/pricing/PricingCalculator.tsx
  src/components/ui/Progress.tsx
  src/components/ui/badge.tsx
  src/lib/analytics/conversion-tracking.ts
  src/lib/auth/useAuth.ts
  src/lib/bundle-optimization.ts
  src/lib/bundle-optimization.tsx
  src/lib/logger.ts
  src/lib/metrics/business-metrics.ts
  src/lib/monitoring/telemetry.ts
  src/lib/security/content-security-policy.ts
  src/lib/security/rate-limiting-redis.ts
  src/lib/security/security-audit.ts
  src/lib/stripe.ts
  src/lib/supabase.ts
  src/lib/supabase/auth-config.ts
  src/lib/supabase/security.ts
  src/lib/validation/schema-validator.ts
  src/lib/validation/schemas.ts
  src/middleware/supabase-security.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npm run type-check

test: adicionar testes e scripts de validação
  __tests__/lib/logger.test.ts
  __tests__/lib/rate-limiting.test.ts
  __tests__/lib/validation.test.ts
  contracts_essential_fields_fixed.sql
  scripts/verify-supabase-config.js
  security_tables_fixed.sql
  storage_basic_setup.sql
  storage_configuration_fixed.sql
  supabase_migration_base.sql
  supabase_migration_complete.sql
  supabase_migration_core_tables.sql
  supabase_migration_fixed.sql
  supabase_migration_initial_data.sql
  supabase_migration_rls_policies.sql
  test_migrations.sql
Due: eslint --fix, prettier --write

Sincronização completa do projeto Contabilease com GitHub
   -10
  CRONOGRAMA_MUDANCAS_CONTABILEASE_2025.md
  CRONOGRAMA_VISUAL_DETALHADO_2025.md
  GUIA_CONFIGURACAO_STRIPE.md
  GUIA_CONFIGURACAO_VARIAVEIS_AMBIENTE.md
  RELATORIO_CONCEITO_PROJETO_CONTABILEASE_2025.md
  RELATORIO_ESTADO_ATUAL_CONSOLIDADO_2025.md
  RELATORIO_OTIMIZACAO_FINAL_2025.md
  RESUMO_CONFIGURACAO_VARIAVEIS_AMBIENTE.md
  ROADMAP_ESTRATEGICO_ATUALIZADO_2025.md
  __tests__/i18n/translation-validation.test.ts
  docs/BEST_PRACTICES_TRANSLATION.md
  env.complete.example
  package.json
  scripts/setup-env.js
  scripts/test-stripe-connection.js
  scripts/verify-env.js
  src/components/auth/MagicLinkForm.tsx
  src/components/ui/loading-spinner.tsx
  src/hooks/useMagicLinkValidation.ts
  src/lib/i18n/validation.ts
Due: eslint --fix, prettier --write, npm run type-check

Correções para compatibilidade com Vercel: dependências, ESLint, TypeScript e logger
  .eslintrc.json
  next.config.js
  package-lock.json
  package.json
  src/app/api/performance/route.ts
  src/app/api/telemetry/traces/route.ts
  src/components/auth/AuthForm.tsx
  src/lib/logger.ts
Due: eslint --fix, prettier --write, npm run type-check
